aiohttp==3.9.5
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.2.0
blinker==1.8.2
CacheControl==0.12.6
cachetools==5.3.3
certifi==2020.12.5
chardet==4.0.0
click==8.1.7
colorama==0.4.4
contextlib2==0.6.0
discord==2.3.2
discord.py==2.3.2
distlib==0.3.1
distro==1.5.0
Flask==3.0.3
frozenlist==1.4.1
google-api-core==2.19.0
google-auth==2.30.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
googleapis-common-protos==1.63.1
grpcio==1.64.1
grpcio-status==1.62.2
html5lib==1.1
idna==3.2
importlib_metadata==7.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
lockfile==0.12.2
MarkupSafe==2.1.5
msgpack==1.0.2
multidict==6.0.5
olefile==0.46
ordered-set==4.0.2
packaging==20.9
pep517==0.10.0
Pillow==8.2.0
progress==1.5
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycryptodome==3.20.0
pyparsing==2.4.7
pystyle==2.9
requests==2.25.1
retrying==1.3.3
rsa==4.9
six==1.15.0
toml==0.10.2
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==3.0.3
yarl==1.9.4
zipp==3.19.1
